NODE_ENV=production
PORT=4000
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net
MONGODB_DB=waste_monitoring_system

ADMIN_USER=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=scrypt$4268243274ea7da5d234b40a7b5e9a8d$6d9c4e7b4b0859213e3d0a89aa5e7135ad391cafa3cead97b2680d67d33649539b13a647f0259682765d91a45f7e2113b5d82f43876060dff5f13f5d6139bb3f

CORS_ALLOWED_ORIGINS=https://ecotrack-waste-monitoring.onrender.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-gmail@gmail.com
SMTP_PASS=your-16-char-gmail-app-password
SMTP_FROM=your-gmail@gmail.com
SMTP_FROM_NAME=EcoTrack Waste Monitoring
EXPO_PUSH_ACCESS_TOKEN=

GOOGLE_WEB_CLIENT_ID=457539763720-cgf2e5dekv008pk2ar1hivbrpc7mumkp.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=457539763720-hqdpqbb4nigrn3mo7nib75h9akfb13hi.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=457539763720-nhc77i2p6cc2gqb0kt0jgu70bpdid2kp.apps.googleusercontent.com
